<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android" id="xyz.kabarbaik.qwenpad.k8smanager" version="1.0.0">
    <name>QwenPad K8s Manager</name>
   
    <js-module name="K8sManager" src="www/k8smanager.js">
        <clobbers target="window.K8sManager" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="K8sManager">
                <param name="android-package" value="xyz.kabarbaik.qwenpad.k8smanager.K8sManager" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        
        <source-file src="src/xyz/kabarbaik/qwenpad/k8smanager/K8sManager.java" target-dir="src/xyz/kabarbaik/qwenpad/k8smanager" />
    </platform>
</plugin>