<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android" id="xyz.kabarbaik.qwenpad.iac-tools-manager" version="1.0.0">
    <name>QwenPad IaC Tools Manager</name>
   
    <js-module name="IaCToolsManager" src="www/iactoolsmanager.js">
        <clobbers target="window.IaCToolsManager" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="IaCToolsManager">
                <param name="android-package" value="xyz.kabarbaik.qwenpad.iactoolsmanager.IaCToolsManager" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml" />
        
        <source-file src="src/android/IaCToolsManager.java" target-dir="src/com/foxdebug/iactoolsmanager" />
    </platform>
</plugin>